### Python ###
# Виртуальные окружения
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc

### IDE ###
# VS Code
.vscode/
!.vscode/settings.json

# PyCharm/IntelliJ
.idea/
*.iml

### Системные файлы ###
# macOS
.DS_Store

# Windows
Thumbs.db

### Логи и кэш ###
*.log
*.tmp
*.bak
.pytest_cache/
.coverage
.mypy_cache/

### Переменные окружения ###
.env
.env.*

### Jupyter ###
.ipynb_checkpoints/

### Сборка и дистрибуция ###
dist/
build/
*.egg-info/